<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>nltranslator</name>
	<displayName><![CDATA[Fix Dutch translations]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Use this module to fix translations for the Netherlands and Belgium.]]></description>
	<author><![CDATA[Michael Dekker]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
